@import url("../../colors.css");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400&display=swap");

.intro-container {
  padding: 1em;
}

.intro-text {
  font-family: "Mukta", sans-serif;
  font-size: 2.5em;
  font-weight: 200;
  color: var(--text-secondary);
}
