.skills-container {
  display: grid;
  gap: 0.5em 0.5em;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
}

@media only screen and (max-width: 1280px) {
  .skills-container {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 960px) {
  .skills-container {
    grid-template-columns: auto;
  }
}

.skill-item {
  text-align: center;
  padding-bottom: 2em;
}
/* .skill-item > h3 {
  margin-bottom: 2em;
} */
